media_queries = {
    mobile: 'only screen and (max-width: 600px)',
    tablet: 'only screen and (min-width: 601px) and (max-width: 866px)',
    tablet_md: 'only screen and (min-width: 866px) and (max-width: 1140px)',
    tablet_xl: 'only screen and (min-width: 1140px) and (max-width: 1600px)',
    desktop: 'only screen and (min-width: 801px)'
};

for_breakpoint(breakpoints) {
    conditions = ();

    for breakpoint in breakpoints {
        push(conditions, media_queries[breakpoint]);
    }

    conditions = join(', ', conditions);

    @media conditions {
        {block};
    }
}