@font-face {
    font-family: 'montserrat_blackregular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/montserrat-black-webfont.woff2') format('woff2'), url('../fonts/montserrat-black-webfont.woff') format('woff');
}

@font-face {
    font-family: 'estebanregular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/esteban-regular-webfont.woff2') format('woff2'), url('../fonts/esteban-regular-webfont.woff') format('woff');
}