    
doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title Portfolio of Aaron McGuire
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel='styelsheet', href="https://fonts.googleapis.com/css?family=Esteban|Montserrat:900&display=swap")
        link(rel="stylesheet" href="index.styl")

    body
        #app
            .sections
                section.hidden.tinker(data-section="tinker")
                    .title
                        h2 Tinkering
                        p Viewing the world one boondock at a time
                    .lottie(data-bm-renderer="svg" data-title="tinkering")
                    h3 Tinkering
                    p.copy
                        span.first-letter L
                        span.body-copy 
                            | orem ipsum dolor sit amet, consectetur adipiscing elit. Sed id velit erat. Aliquam cursus mauris vel ante viverra efficitur. Proin quis fermentum magna, sit amet elementum urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras dictum purus a sapien mollis, id ornare dolor iaculis. Nam dictum dignissim elit, a venenatis arcu aliquet eget. Sed imperdiet iaculis ante in dictum. Proin sem est, dictum eu tempor ut, condimentum nec diam. Integer elementum tempus ipsum. Nunc malesuada mattis tortor, ut lobortis orci mattis quis. Cras sit amet ante diam. Praesent porttitor quam vel erat efficitur, sit amet interdum sem tempor
                section.hidden.explorer(data-section="explorer")
                    .title
                        h2 Exploring
                        p Viewing the world one boondock at a time
                    .lottie(data-bm-renderer="svg" data-title="exploring")
                    h3 Exploring
                    p.copy
                        span.first-letter L
                        span.body-copy 
                            | orem ipsum dolor sit amet, consectetur adipiscing elit. Sed id velit erat. Aliquam cursus mauris vel ante viverra efficitur. Proin quis fermentum magna, sit amet elementum urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras dictum purus a sapien mollis, id ornare dolor iaculis. Nam dictum dignissim elit, a venenatis arcu aliquet eget. Sed imperdiet iaculis ante in dictum. Proin sem est, dictum eu tempor ut, condimentum nec diam. Integer elementum tempus ipsum. Nunc malesuada mattis tortor, ut lobortis orci mattis quis. Cras sit amet ante diam. Praesent porttitor quam vel erat efficitur, sit amet interdum sem tempor
                section.hidden.developer(data-section="developer")
                    .title
                        h2 Developing
                        p Viewing the world one boondock at a time
                    .lottie(data-bm-renderer="svg" data-title="developing")
                    h3 Developing
                    p.copy
                        span.first-letter L
                        span.body-copy 
                            | orem ipsum dolor sit amet, consectetur adipiscing elit. Sed id velit erat. Aliquam cursus mauris vel ante viverra efficitur. Proin quis fermentum magna, sit amet elementum urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras dictum purus a sapien mollis, id ornare dolor iaculis. Nam dictum dignissim elit, a venenatis arcu aliquet eget. Sed imperdiet iaculis ante in dictum. Proin sem est, dictum eu tempor ut, condimentum nec diam. Integer elementum tempus ipsum. Nunc malesuada mattis tortor, ut lobortis orci mattis quis. Cras sit amet ante diam. Praesent porttitor quam vel erat efficitur, sit amet interdum sem tempor
                section.hidden.animator(data-section="animator")
                    .title
                        h2 Animating
                        p Viewing the world one boondock at a time
                    .lottie(data-bm-renderer="svg" data-title="animating")
                    h3 Animating
                    p.copy
                        span.first-letter L
                        span.body-copy 
                            | orem ipsum dolor sit amet, consectetur adipiscing elit. Sed id velit erat. Aliquam cursus mauris vel ante viverra efficitur. Proin quis fermentum magna, sit amet elementum urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras dictum purus a sapien mollis, id ornare dolor iaculis. Nam dictum dignissim elit, a venenatis arcu aliquet eget. Sed imperdiet iaculis ante in dictum. Proin sem est, dictum eu tempor ut, condimentum nec diam. Integer elementum tempus ipsum. Nunc malesuada mattis tortor, ut lobortis orci mattis quis. Cras sit amet ante diam. Praesent porttitor quam vel erat efficitur, sit amet interdum sem tempor
            .about
                .copy
                    h1 Welcome to the portfolio of Aaron mcguire.
                    p Scroll through the site, I hope to share with you what inspires me, so much so that you hire me. Why not, just say “yes?”
                    ul
                        li
                            a.link(href="")
                        li
                            a.link(href="")
                        li
                            a.link(href="")
                        li
                            a.link(href="")
                .image
                    .front
                    .back
                
            .bg
            .mouser
        script(src='app.js')

        <svg version="1.1">
        <clipPath id="text" clipPathUnits="objectBoundingBox" transform="scale(0.001, 0.005319148936)">
            <path d="M2.21 70.43c-4.62-18.6-3.57-50.35 18.55-64.3C41.63-7.04 67.23 4.48 76.38 8.64c7.38 3.32 34.15 15.36 38.33 40.81 2.35 14.28-3.56 25.81-6.18 30.91-13.36 26.06-41.12 31.75-43.28 32.15-5.84 1.1-21.46 3.79-37.1-4.94C8.74 96.64 3.64 76.18 2.21 70.43z"/>
        </clipPath>
        </svg>